<h1><%= "Project page for #{@project.name}"%></h1>
<div class="current_row">Rows: <%= @project.current_row%></div>
<%= link_to "+", project_path(:project => {:current_row => (@project.current_row + 1)}), :method => :put, :class => "plus_button rounder" %>
<%= link_to "-", project_path(:project => {:current_row => (@project.current_row - 1)}), :method => :put, :class => "frog_button rounder" %><br/>
<%= link_to "back", projects_path %>
